{% extends 'layouts/with_header.html.twig' %}

{% block title %}Edit ChecklistItemTemplate{% endblock %}

{% block content %}
    <h1>Edit ChecklistItemTemplate</h1>

    {{ include('checklist_item_template/_form.html.twig', {'button_label': 'Update'}) }}

    Checklist App

    {{ include('checklist_item_template/_delete_form.html.twig') }}
{% endblock %}
