{% extends 'layouts/with_header.html.twig' %}

{% block title %}New ChecklistItemTemplate{% endblock %}

{% block content %}
    <h1>Create new ChecklistItemTemplate</h1>

    {{ include('checklist_item_template/_form.html.twig') }}

    Checklist App
{% endblock %}
