{% extends 'base.html.twig' %}

{% block title %}Edit ChecklistTemplate{% endblock %}

{% block body %}
    <h1>Edit ChecklistTemplate</h1>

    {{ include('checklist_template/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_checklist_template_index') }}">back to list</a>

    {{ include('checklist_template/_delete_form.html.twig') }}
{% endblock %}
